<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Средняя зарплата с учетом административно-управленческого персонала в {{institution}}: {{avgSalaryInsitution}}</p>
	<p>Средняя зарплата без учета административно-управленческого персонала в {{institution}}: {{avgSalaryWithoutAdmin}}</p>
	<p>Количество человек получающих зарплату согласно МРОТ: {{peopleWithMinimalWage}} в {{institution}}, это {{percentPeopleWithMinimalWage}}% от всего количества человек, получающих зарплату</p>
</body>
</html>